{% extends "_base.html" %}
{% block content %}
<h3>Users</h3>
<table>
    <tr><th>ID</th><th>Telegram ID</th><th>Username</th><th>2FA</th><th>Blocked</th><th>Created</th></tr>
    {% for u in users %}
    <tr>
        <td>{{ u.id }}</td>
        <td><code>{{ u.telegram_id }}</code></td>
        <td>@{{ u.username or '' }}</td>
        <td>{{ 'on' if u.totp_enabled else 'off' }}</td>
        <td>{{ 'yes' if u.is_blocked else '' }}</td>
        <td>{{ u.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
